.btn {
    border: none;
    color: rgb(21, 16, 16);
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(198, 243, 201);
}

button.type.button:hover {
    background-color: #a1dea1;
}

.btn-edit {
    background-color: rgb(90, 219, 131);
}

.btn-delete {
    background-color: red;
}

.btn-view {
    background-color: rgb(212, 253, 199);
    color: black;
}


table{
    
        align-self: center;
    }
th,
td {
    border: 1px solid black;
    text-align: center;
}
table th{
    background-color: rgb(235, 239, 238);
}

.Details{
    display: inline-table;
    align-items: center;
}
.Details table,td,tr{
    width: 1000px;
    height: 25px;
}
 tr:hover {
     background-color: #ddd;
 }
 tr:nth-child(even) {
     background-color: #f2f2f2;
 }