*{
margin:0;
padding: 0;
box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 10, 10);
}

.logo{
    font-weight: 1000px;
    font-family: Helvetica;
        
}
.menu{
    list-style: none;
    display: flex;   
}
.menu a{
    color:aliceblue;
    text-decoration: none;
    margin: 0 1em;
}
.menu li{
    margin-left: 20px;
}
a:active {
    background-color: rgb(23, 197, 90);
}

.navbar li {
    margin-left: 20px;
}